@font-face {
  font-family: BaiJamjuree-Light;
  src: url(https://creepycats.github.io/api/gatoclient/fonts/BaiJamjuree-Light.ttf);
  font-weight: normal;
}
@font-face {
  font-family: BaiJamjuree-Bold;
  src: url(https://creepycats.github.io/api/gatoclient/fonts/BaiJamjuree-Bold.ttf);
  font-weight: normal;
}
.backgroundSettings body {
 font-family: BaiJamjuree-Light!important;
 color:white!important;
 padding: 0px 0px 0px 0px;
}
.backgroundSettings{
 background-image: url("https://cdn.discordapp.com/attachments/901905234861883432/910340407949398046/background.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-color: #cccccc;
 padding: 0px 0px 0px 0px;
}
.backgroundSettings .titleHolder {
    margin: 0px 20px 0px 0px;  
    overflow: auto;
	color:#f1f1f1;
	font-size: 24px;
	border:solid #fff;
	border-radius:4px;
	padding:10px 30px 0px 30px;
	background-color: rgba(0,0,0,0.2);
	width:400px;
    border-width: 0px 2px 0px 2px;
}
.backgroundSettings .titleImage {
    float: left
}
.backgroundSettings .titleImage img {
    display: block
}
.backgroundSettings .title {
    margin-left: 80px; 
	font-family: BaiJamjuree-Bold;
	position:relative;
	top:-5px;
}
.backgroundSettings h2 {  
    overflow: auto;
	color:#f1f1f1;
	border:solid #fff;
	border-width: 0px 2px 0px 2px;
	border-radius:4px;
	padding:10px 30px 10px 30px;
	background-color: rgba(0,0,0,0.2);
	width:400px;
	margin-top:8px;
	margin-bottom:8px;
	font-family: BaiJamjuree-Bold;
}
.backgroundSettings p {  
    overflow: auto;
	color:#d4d4d4;
	border:solid #b5b5b5;
	border-width: 0px 2px 0px 2px;
	border-radius:4px;
	padding:10px 30px 10px 30px;
	background-color: rgba(0,0,0,0.2);
	width:400px;
	margin-top:2px;
	margin-bottom:2px;
}
.backgroundSettings p:nth-child(even) {  
	padding:10px 30px 10px 30px;
	background-color: rgba(92, 92, 92,0.4);
}
.backgroundSettings p:nth-child(odd) {  
	padding:10px 30px 10px 30px;
	background-color: rgba(48, 48, 48,0.3);
}

/* Switches */
.backgroundSettings input[type="checkbox"].switch_1 {
	font-size: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 35px;
	height: 15px;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	top:4px;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

	.backgroundSettings input[type="checkbox"].switch_1:checked {
		background: #0ebeff;
	}
.backgroundSettings input[type="checkbox"].switch_1:hover {
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
}

	input[type="checkbox"].switch_1:after {
		position: absolute;
		content: "";
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #fff;
		-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
		box-shadow: 0 0 .25em rgba(0,0,0,.3);
		-webkit-transform: scale(.7);
		transform: scale(.7);
		left: 0;
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

	.backgroundSettings input[type="checkbox"].switch_1:checked:after {
		left: calc(100% - 15px);
	}
	
/* Inputs */
.backgroundSettings .form__input {
	color: #333;
	margin: 0 auto;
	padding: 5px 5px;
	border-radius: 5px;
	color:white;
	background-color: rgba(255, 255, 255, 0.2);
	border: solid 1px white;
	width: 100px;
	transition: all 0.3s;
}

	.backgroundSettings .form__input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: rgba(255, 255, 255, 0.5);
	}
.backgroundSettings .form__input:hover { /* Chrome, Firefox, Opera, Safari 10.1+ */
		box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
}

/* Save Button */
.backgroundSettings .button {
	background-color: #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	cursor: pointer;
	font-family: BaiJamjuree-Bold;
}

.backgroundSettings .style {
	height: 50px;
	width: 150px;
	color: white;
	z-index: 1;
	transition: 1.2s;
	background: linear-gradient(to right bottom, #4776E6, #8E54E9);
}

	.backgroundSettings .style:hover {
		transform: scale(90%);
		transition: 1.2s;
	}

	.backgroundSettings .style:active {
		opacity: 0.5;
		transition: 0.2s;
	}

/* Dropdown CSS */
.backgroundSettings .select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
	
}
.backgroundSettings .select-dropdown {
  position: relative;
  background: rgba(170,170,170,0.4);
  border: 1px white solid;
  padding: 2px 2px 2px 2px;
  border-radius: 4px;
}
.backgroundSettings .select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  color: white;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
}
.backgroundSettings .select-dropdown select option {
  color: white;
  background: rgb(120,116,172);
}

.backgroundSettings .select-dropdown:hover {
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
}
.backgroundSettings .select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.backgroundSettings .select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
